<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>

    <h2>C964 Computer Science Capstone</h2>

    <form method="POST">
        <label for="ticker">Choose ticker symbol to get prediction : </label>
        <select name="tickerFromList" class="Input" required>
            {% for t in tickersList %}
                <option value="{{ t }}" {% if t == ticker_selection %}selected{% endif %}>{{ t }}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>

    {% if data1 %}
        <img src="data:image/png;base64, {{data1}}" alt="Trend Line Chart">
    {% endif %}

    {% if data2 %}
        <img src="data:image/png;base64, {{data2}}" alt="Candlestick Chart">
    {% endif %}

    {% if prediction %}
        <h1>Prediction: {{ prediction }}</h1>
    {% endif %}

    <label><h2>Score: {{ predScore }}</h2></label>

</body>
</html>
